{% extends "layout.html" %}
{% block content %}
<!-- <!DOCTYPE html>
<html> -->
    <head>
        <title>crystalarium - about</title>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div class="body_container">
            <h2>~ About ~</h2>
            <p>This website was created as a practice front-end project.</p>

            <p>My goal is to have information about crystals and also allow users to keep track of which crystals they own and which they have on their wishlist</p>
        </div>
    </body>
<!-- </html> -->
{% endblock content %}