{% extends "layout.html" %}
{% block content %}
<!-- <!DOCTYPE html>
<html> -->
    <head>
        <title>watchlist</title>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div class="body_container">
            <h2>~ About ~</h2>
            <p>This website was created as a practice front-end project.</p>

            <p>My goal is to keep track of movies I've watched and movies I want to watch. Currently, I am working on changing the websites to be an informative website about crystals.c</p>
        </div>
    </body>
<!-- </html> -->
{% endblock content %}