{% extends "layout.html" %}

{% block content %}

<div class="body_container">
    <h2>₊˚ ✧ ━━━━⊱Collection⊰━━━━ ✧ ₊˚</h2>
    <p>These are the crystals you already own.</p>

    <div>
        <h3>Crystals:</h3>
        
        <ul class="crystal_list">
        {% for crystal in crystals %}
            <li>
                    <img src={{crystal.img}} alt={{crystal.name}}>
                    <div class="crystal-info">
                      <p><b>{{ crystal.name }}</b></p>
                      <p>Properties: {{ crystal.props }}</p>
                      <p>Description: {{ crystal.desc }}</p>
                    </div>
            </li>
        {% endfor %}
        </ul>
    </div>

</div>


{% endblock %}