{% extends "layout.html" %}

{% block content %}

<div class="body_container">
    <h2>~ Gallery ~</h2>
    <p>Here, I keep movie posters that I like for no reason at all.</p>

    <div class="posters_container">
        <img src="{{ url_for('static', filename='posters/backtofuture.png') }}" alt="Back to the Future" class="poster">
        <img src="{{ url_for('static', filename='posters/pearl.png') }}" alt="Pearl" class="poster">
        <img src="{{ url_for('static', filename='posters/pulpfiction.png') }}" alt="Pulp Fiction" class="poster">
    </div>
</div>


{% endblock %}