{% extends "layout.html" %}
{% block content %}
<!-- <!DOCTYPE html>
<html> -->
    <body>

        <div class="body_container">
            <h2>₊˚ ✧ ━━━━⊱Home Page⊰━━━━ ✧ ₊˚</h2>
            <p>Welcome!</p>
            <p>This is a website where you can learn about crystals and take inventory of the crystals you have and want.</p>
            <p>small change to test the auto deployment</p>
            <p>Navigate through my pages!</p>
         </div>


    </body>
<!-- </html> -->
 {% endblock content %}