{% extends "layout.html" %}
{% block content %}
<!-- <!DOCTYPE html>
<html> -->
    <head>
        <title>watchlist</title>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>

        <div class="body_container">
            <h2>~ Home Page ~</h2>
            <p>Welcome!</p>
            <p>Here, I keep track of movies I want to watch and which ones I've gotten to see.</p>
            <p>Navigate through my pages!</p>
         </div>


    </body>
<!-- </html> -->
 {% endblock content %}