{% extends "layout.html" %}
{% block content %}
<!-- <!DOCTYPE html>
<html> -->
    <head>
        <title>watchlist</title>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div class="body_container">
            <h2>~ Movie Tracker ~</h2>
            <div class="to_watch">
                <h3>Want to Watch:</h3>
                <ul>
                    <li>Spider-Man: Brand New Day</li>
                    <li>Jennifer's Body</li>
                    <li>TinkerBell</li>
                    <li>Corpse Bride</li>
                </ul>
            </div>

            <div class="watched">
                <h3>Watched:</h3>
                <ul>
                    <li>Obsession</li>
                    <li>28 Years Later: The Bone Temple</li>
                    <li>Barbie: Fairytopia</li>
                    <li>Backrooms</li>
                </ul>
            </div>
        </div>

    </body>
</html>
{% endblock content %}